{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>life is fantas-taco!</h1>
    <body>
    	<div class="row">
            <div class="col-md-4">
                <p>Should I get some tacos?</p>
                
                <br>

                <div class="row">
                    <div class="col-md-4">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>

                <br>

        		{% with choices = get_flashed_messages(with_categories=true) %}
                {% if choices %}
                    {% for choice in choices %}
                        <p>{{ choice[1] }}</p>
                    {% endfor %}
                {% endif %}
            	{% endwith %}
            </div>

    	</div>
    </body>
{% endblock %}